<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<head>
  <title>게시글 상세</title>
</head>

<th:block layout:fragment="style">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
  <style>
  </style>
</th:block>
<th:block layout:fragment="script">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
  <script src="/static/js/board.js"></script>
  <script src="/static/js/registration.js"></script>
  <script src="/static/js/file.js"></script>
  <script th:inline="javascript">
    $(function () {
      $(".datepicker").datepicker({
        changeMonth: false,
        changeYear: false,
        dateFormat: "yy-mm-dd",
        dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
        monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
        monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
        onClose: function (date) {
          let name = $(this).attr('name');
          if (name === 'startDate') {
            $("input[name='endDate']").datepicker('option', 'minDate', date);
          } else {
            $("input[name='startDate']").datepicker('option', 'maxDate', date);
          }
        }
      });

      board.detail([[${boardId}]]);

      $("input[type=file]").change(function(e){
        let url = window.URL.createObjectURL(e.target.files[0]);
        $("#boardImage").attr('src', url);

        file.save();
      });

      $("#boardImage").click(function(){
        // 작성자일 경우에는 파일 삭제 기능
        if($("input[type=file]") !== null) {
          let goDelete = confirm("삭제하시겠습니까?");
          if (goDelete) {
            $("#boardImage").css('display', 'none');
            $("input[type=file]").val("");
            $("#fileId").val("");
          }

        // 사용자일 경우 다운로드 기능
        } else {
          let fileId = $("#fileId").val();
          if (fileId !== "")
            location.href = `/api/file/${fileId}/download`;
        }
      });

      $("#content").on("click, keydown", function(){
        $(this).css("height", $(this).prop('scrollHeight') + 3);
      });
    });
  </script>
</th:block>

<div layout:fragment="content">

  <table class="table">

    <colgroup>
      <col style="width: 20%">
      <col style="width: 80%">
    </colgroup>

    <tbody>
      <tr>
        <td>게시글 종류</td>
        <td id="boardType"></td>
      </tr>

      <tr>
        <td>제목</td>
        <td id="titleHtml"></td>
      </tr>

      <tr>
        <td>작성자</td>
        <td id="writer"></td>
      </tr>

      <tr>
        <input type="hidden" id="fileId">
        <td>이미지</td>
        <td id="fileHtml">
          <form>
            <input type="file" class="form-control" name="file" accept="image/*">
            <br>
            <img id="boardImage" class="rounded float-start" style="display: none">
          </form>
        </td>
      </tr>

      <tr>
        <td>내용</td>
        <td id="contentHtml">
          <textarea id="content" class="form-control"></textarea>
        </td>
      </tr>

      <tr>
        <td>기간</td>
        <td id="datePeriod">
          <div class="row">
            <div class="col">
              <input type="text" id="startDate" class="datepicker form-control" readonly="readonly">
            </div>
            <div class="col">
              <input type="text" id="endDate" class="datepicker form-control" readonly="readonly">
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td>인원 제한</td>
        <td id="recruitingCntHtml"></td>
      </tr>

      <tr>
        <td>조회수</td>
        <td id="views"></td>
      </tr>

      <tr>
        <td>등록 인원</td>
        <td id="registrationArea"></td>
      </tr>

    </tbody>
  </table>

  <div id="button-area" style="text-align: center;"></div>

  <div class="modal fade" id="registrationList" tabindex="-1" aria-labelledby="registrationListLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registrationListLabel">등록자 정보</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
        </div>
        <div id="modalContent" class="modal-body"></div>
      </div>
    </div>
  </div>
</div>

</html>