<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<head>
    <title>게시글 목록</title>
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        let field = null;
        const directions = ["nothing", "asc", "desc"];
        let nowDirection = directions[0];

        $(function(){
            $("input[name='filter']").click(function(){
                let index = directions.indexOf(nowDirection) === directions.length - 1 ? 0 : directions.indexOf(nowDirection) + 1;
                nowDirection = directions[index];
                field = nowDirection === "nothing" ? null : $(this).next().val();

                let fieldStatus = $(this).val();
                if(["△", "▽"].includes(fieldStatus.charAt(fieldStatus.length - 1)))
                    fieldStatus = fieldStatus.slice(0, fieldStatus.length - 1);
                if(nowDirection === "asc")
                    fieldStatus += "△"
                else if(nowDirection === "desc")
                    fieldStatus += "▽";
                $(this).val(fieldStatus);
                callList(0, field, nowDirection);
            });
        });

        function addPaging(result){
            let start = result.number < 10 ? 1 : ((result.number + 1) - ((result.number + 1) / 10)) + 1;
            let last = result.totalPages < 10 ? result.totalPages + 1 : start + 10;

            let pageList = "";
            if(start !== 1) {
                pageList += "<a class=\"btn btn-light\" onclick=\"callList(0, field, nowDirection)\"><<</a>"
                    + `<a class="btn btn-light" onclick="callList(${result.number - 1}, field, nowDirection)"><</a>`;
            }

            let aClass = "btn btn-light";
            for(var i=start; i < last; i++){
                if(i === result.number + 1)
                    aClass = "btn btn-black";
                pageList += `<a class="${aClass}" onclick="callList(${i - 1}, field, nowDirection)">${i}</a>`;
            }

            if(result.number !== result.totalPages - 1) {
                pageList += `<a class="btn btn-light" onclick="callList(${result.number + 1}, field, nowDirection)">></a>`
                        + `<a class=\"btn btn-light\" onclick=\"callList(${result.totalPages}, field, nowDirection)\">>></a>`;
            }

            $("#pageList").html(pageList);
        }

        function callList(page, field, direction) {
            let params = {
                "boardType": [[${boardType}]],
                "page": page,
                "size": $("#size option:selected").val(),
                "sort": field != null ? field + "," + direction : null
            }

            callAjax("GET", "/api/board/", params,
                (result) => {
                    let tbody = "";
                    let no;
                    $.each(result.content, function(index, item){
                        no = (result.number * result.size) + index + 1;
                        let trClass = "";
                        if(item.topFix === true)
                            trClass = "table-info";
                        let recruitingCnt = item.recruitingCnt !== 0 ? item.recruitingCnt : "제한없음";
                        tbody += `<tr class=\"${trClass}\">`
                            + `<td>${no}</td>`
                            + `<td><a style="text-decoration: none; color: navy" href="/board/${item.id}">${item.title}</a></td>`
                            + `<td>${item.writerName}</td>`
                            + `<td>${item.registrationCnt}/${recruitingCnt}</td>`
                            + `<td>${item.startDate}</td>`
                            + `<td>${item.endDate}</td>`
                            + `<td>${item.views}</td>`
                            + `<td>${item.createdDate}</td>`
                            + "</tr>";
                    });
                    $("#tbody").html(tbody);


                    if(result.totalElements !== 0)
                        addPaging(result);
                }
            );
        }

        /* 최초 접속 시 ajax 호출 */
        callList(0, field, nowDirection);

    </script>
</th:block>

<div layout:fragment="content">
    <select class="form-select" style="width: 30%" id="size" onchange="callList(0, field, nowDirection)">
        <option value="10" selected="selected">10</option>
        <option value="30">30</option>
        <option value="50">50</option>
    </select>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">NO.</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">등록인원/모집인원</th>
            <th scope="col">
                <input type="button" style="border: none; background-color: white;" name="filter" value="모집 시작">
                <input type="hidden" value="startDate">
            </th>
            <th scope="col">
                <input type="button" style="border: none; background-color: white;" name="filter" value="모집 종료">
                <input type="hidden" value="endDate">
            </th>
            <th scope="col">
                <input type="button" style="border: none; background-color: white;" name="filter" value="조회수">
                <input type="hidden" value="views">
            </th>
            <th scope="col">
                <input type="button" style="border: none; background-color: white;" name="filter" value="작성일">
                <input type="hidden" value="createdDate">
            </th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>

    <div id="pageList" style="text-align: center;"></div>
</div>

</html>