<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<head>
    <title>게시글 저장</title>
</head>

<th:block layout:fragment="style">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
</th:block>
<th:block layout:fragment="script">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
    <script>
        $(function(){
            $(".datepicker").datepicker({
                changeMonth: false,
                changeYear: false,
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
                monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                onClose: function(date){
                    let name = $(this).attr('name');
                    if(name === 'startDate'){
                        $("input[name='endDate']").datepicker('option', 'minDate', date);
                    }else{
                        $("input[name='startDate']").datepicker('option', 'maxDate', date);
                    }
                }
            });
        });
    </script>
    <script src="/static/js/board.js"></script>
</th:block>


<div layout:fragment="content">
    <div class="">
        <h3>게시글 저장</h3>
    </div>

    <form enctype="multipart/form-data" method="post">
        <input type="hidden" name="writerId" value="1"><!--security-->

        <div class="input-group mb-3">
            <select class="form-select" name="boardType">
                <option value="" selected>종류</option>
                <option value="meeting">모집</option>
                <option value="event">이벤트</option>
            </select>
        </div>
    
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="title" placeholder="제목">
        </div>
    
        <div class="input-group mb-3">
            <textarea class="form-control" style="height: 400px" name="content" placeholder="내용"></textarea>
        </div>
    
        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="참여 인원 수 (미선택 시 제한없음)">
        </div>
    
        <div class="input-group mb-3">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control datepicker" name="startDate" placeholder="시작 날짜" readonly="readonly">
                </div>
                <div class="col">
                    <input type="text" class="form-control datepicker" name="endDate" placeholder="종료 날짜" readonly="readonly">
                </div>
            </div>
        </div>
    
        <div class="input-group mb-3">
            <input class="form-control" type="file" name="file">
        </div>

        <div>
            <input type="button" class="btn btn-outline-primary" onclick="board.save()" value="게시글 등록">
        </div>

    </form>
</div>

</html>