<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<head>
    <title>게시글 저장</title>
</head>

<th:block layout:fragment="style">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
</th:block>
<th:block layout:fragment="script">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
    <script src="/static/js/board.js"></script>
    <script src="/static/js/file.js"></script>
    <script>
        $(function(){
            $(".datepicker").datepicker({
                changeMonth: false,
                changeYear: false,
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
                monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                onClose: function(date){
                    let name = $(this).attr('name');
                    if(name === 'startDate'){
                        $("#endDate").datepicker('option', 'minDate', date);
                    }else{
                        $("#startDate").datepicker('option', 'maxDate', date);
                    }
                }
            });

            $("#startDate").datepicker("setDate", new Date());
            $("#endDate").datepicker("setDate", new Date());

            $("input[type=file]").change(function(e){
                let url = window.URL.createObjectURL(e.target.files[0]);
                $("#boardImage").attr('src', url);

                file.save();
            });

            $("#boardImage").click(function(){
                let goDelete = confirm("삭제하시겠습니까?");
                if(goDelete) file.delete();
            });

            $("#content").on("keydown", function(){
                $(this).css("height", $(this).prop('scrollHeight') + 3);
            });
        });
    </script>
</th:block>


<div layout:fragment="content">
    <div class="">
        <h3>게시글 저장</h3>
    </div>

    <input type="hidden" id="writerId" th:value="${writerId}">

    <div class="input-group mb-3">
        <select class="form-select" id="boardType">
            <option value="" selected>종류</option>
            <option value="meeting">모집</option>
            <option value="event">이벤트</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" id="title" placeholder="제목">
    </div>

    <div class="input-group mb-3">
        <textarea class="form-control" id="content" placeholder="내용" style="height: 400px"></textarea>
    </div>

    <div class="input-group mb-3">
        <input type="number" id="recruitingCnt" class="form-control" placeholder="참여 인원 수 (미선택 시 제한없음)">
    </div>
    
    <div class="input-group mb-3">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control datepicker" id="startDate" placeholder="시작 날짜" readonly="readonly">
            </div>
            <div class="col">
                <input type="text" class="form-control datepicker" id="endDate" placeholder="종료 날짜" readonly="readonly">
            </div>
        </div>
    </div>
    
    <div class="input-group mb-3">
        <form>
            <input class="form-control" type="file" name="file" accept="image/*">
        </form>
    </div>

    <div class="input-group mb-3" id="fileHtml">
        <input type="hidden" id="fileId">
        <img id="boardImage" class="img-thumbnail rounded float-start" style="display: none">
    </div>

    <div>
        <input type="button" class="btn btn-outline-primary" onclick="board.save()" value="게시글 등록">
    </div>
</div>

</html>